.header{

  padding-top: 20px;
  .header-block{
    box-shadow: 0 14px 20px -18px #46464642;
    padding: 30px 20px;
    border-radius: 33554400px;
    background-color: #FFFFFF01;
  }

  img{
    width: 178px;
  }
  .menu{
    align-items: center;
    width: 70%;
    li{
      font:  14px/24px "Manrope" ;
      text-transform: uppercase;
      text-decoration: none;
      list-style-type: none;
    }
  }
  .menu-hide{
    img{
      width: 38px;
    }
  }
}